@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 60);
  position: relative;
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  font-size: 150%;
}
.container {
  /* display: flex;
  flex-direction: column; */
  padding: 1rem;
  margin: 6rem auto 0rem;
  width: 60vw;
  text-align: center;
  color: white;
  background-color: rgba(97, 35, 35, 0.833);
}
.container img {
  width: 4rem;
  height: 5rem;
  margin: 1rem auto;
}
.giris {
  /* display: flex;
  justify-content: space-between; */
  color: rgb(39, 39, 39);
}

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: rgb(39, 39, 39);
  background-color: rgb(253, 200, 122);
}
input {
  padding: 1rem;
  margin: 0rem auto;
  width: 60%;
  border: none;
  font-size: 1.5rem;
  border-radius: 10px;
  color:rgb(39, 39, 39);
}
input:focus {
  outline-width: 0;
}
label:hover {
  cursor: pointer;
}

.add {
  padding: 1rem;
  background-color: rgb(253, 200, 122);
  border-radius: 10px;
}
h1 {
  text-decoration: underline;
}